<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Select My Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="font" href="/font/Dense-Regular.otf">
        <!--fa-->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
    </head>
    <body>

      <%= erb :_header %>

      <div class="row">
        <%= yield %>
      </div>



      <!-- <% if !params.nil? %>
        <hr />
        <%= params.inspect %>
      <% end %> -->
      <%= erb :_footer %>

      <%= erb :_modals %>
      <!-- body goes here -->
      <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
      <script type="text/javascript" src="/js/vendor/jquery-2.1.0.min.js"></script>
      <!-- <script type="text/javascript" src="slick/slick.min.js"></script> -->
      <script type="text/javascript" src="/js/vendor/foundation.min.js"></script>
      <script type="text/javascript" src="/js/vendor/foundation.init.js"></script>

      <script type="text/javascript" src="/js/business-logic.js"></script>
      <script type="text/javascript" src="/js/presenter.js"></script>
    </body>
</html>
